<!DOCTYPE html>
<html>
<head>

 <style>
         #myDiv input {
         background-color: yellow;
         width:600px;
    }
    </style>


</head>
<body>

<h1>The div element</h1>

<div id = "myDiv">
<table>
<td>Submitted <br>{{ form.submitted }} </td>
	</table>
	<input[ype=text]> {{ form.s1 }} </input>
		 {{ form.s1 }}  {{ form.s2 }}  {{ form.s3 }}  {{ form.s4 }}  {{ form.s5 }}
		 {{ form.s6 }}  {{ form.s7 }}  {{ form.s8 }}  {{ form.s9 }}  {{ form.s10 }}
		 {{ form.s11 }}  {{ form.s12 }}  {{ form.s13 }}  {{ form.s14 }}  {{ form.s15 }}
	     {{ form.s16 }}  {{ form.s17 }}  {{ form.s18 }}  {{ form.s19 }}  {{ form.s20 }}
		 {{ form.s21 }}  {{ form.s22 }}  {{ form.s23 }}  {{ form.s24 }}  {{ form.s25 }}

</div>


<p>This is some text outside the div element.</p>

</body>
</html>
